Web.Topcourse/Web.Topcourse/Connected Services/MailService/SendMailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MailService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MailService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsResend" type="xs:boolean" />
      <xs:element minOccurs="0" name="LangID" type="xs:int" />
      <xs:element minOccurs="0" name="MailID" type="xs:int" />
      <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="Sign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailModel" nillable="true" type="tns:EmailModel" />
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
</xs:schema>