Web.Topcourse/Web.Topcourse/Connected Services/MailService/SendMailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mailservice.edunet.vn/Service/SendMailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MailService.Model" />
  <xs:element name="SendEmailManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MailService.Model" minOccurs="0" name="requestSendMail" nillable="true" type="q1:EmailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MailService.Model" minOccurs="0" name="SendEmailManualResult" nillable="true" type="q2:ResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>